/*--------------------------------------------------------------
# Faq Section
--------------------------------------------------------------*/
.faq-section .faq-title-container {
    padding-bottom: 20px;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item {
    position: relative;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item:last-child {
    margin-bottom: 0;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 0 30px 0 0;
    transition: 0.3s;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item h3:hover {
    color: #0056b3;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item .faq-answer {
    display: block;
    padding-top: 10px;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item .faq-answer p {
    margin-bottom: 0;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 18px;
    line-height: 0;
    transition: 0.3s;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-toggle.rotated {
    transform: rotate(90deg);
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item.active {
    background-color: rgba(0, 0, 255, 0.05);
    border-color: rgba(0, 0, 255, 0.3);
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item.active h3 {
    color: #0056b3;
  }
  
  .faq-section .faq-content-container .faq-items-container .faq-item.active .faq-toggle {
    color: #0056b3;
  }
  
  .faq-section .faq-content-container .faq-items-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  @media (max-width: 768px) {
    .faq-section .faq-title-container h2 {
      font-size: 24px;
    }
  
    .faq-section .faq-content-container .faq-items-container .faq-item h3 {
      font-size: 14px;
    }
  }
  